body * {
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
}

#main {
    position: relative;
}

#main:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://i.imgur.com/HdMetd1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

.loginout {
    text-align: right;
}

.deck-title {
    text-align: center;
}

.deck-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
}

.decks {
    background-color: whitesmoke;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    width: 350px;
    height: 225px;
    margin: 70px;
    border: 1px solid;
    box-shadow: 5px 7px #888888;
    border-radius: 5%;
    word-wrap: normal;
}