<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All StudySets</title>
    <link rel="stylesheet" href="/stylesheets/deckIndex.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main">
        <div class="loginout">
            <div class="newset-button" >
                <a href="/decks/new"><button>New
                        StudySet</button></a><br><br>
            </div>
            <div class="allsets-button">
                <a href="/decks"><button>My
                        StudySets</button></a><br><br>
            </div>
            <div class="welcome-button">
                <% if (user) { %>
                <a href="/logout"><button>Welcome, <%= user.name %>! Log Out?</button></a>
                <% } else { %>
                <a href="/auth/google"><button>Login with Google</button></a>
                <% } %>
            </div>
        </div>
        <div class="set">
            <div class="set-title">
                <h1>All StudySets</h1>
            </div><br>
        </div>
        <div class="deck-body">
            <% decks.forEach(d => { %>
            <a href="/decks/<%= d._id %>"><button class="decks">
                    <div><%= d.name %></div>
                </button></a>
            <% }); %>
        </div>
    </div>
</body>

</html>