<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySet Login</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/usersIndex.css">
</head>

<body>
        <div class="welcome">
            <% if (user) { %>
            <a href="/logout"><button>Welcome, <%= user.name %>! Log Out?</button></a>
            <% } else { %>
            <a href="/auth/google"><button><span>Welcome to StudySet!</span><br>Click to login</button></a>
            <% } %>
        </div>
</body>

</html>